# Entorno
NODE_ENV=development

# URL MongoDB para desarrollo
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/bildyapp?retryWrites=true&w=majority

# Servidor
PORT=3000

# JWT - Access Token
JWT_ACCESS_SECRET=PonAquiUnaCadenaDeTextoMuyLargaYAleatoria123!
JWT_ACCESS_EXPIRES_IN=15m

# JWT - Refresh Token
JWT_REFRESH_SECRET=OtraCadenaDeTextoMuyLargaYAleatoria456!
JWT_REFRESH_EXPIRES_IN=7d

# Multer - Subida de archivos
MULTER_UPLOAD_DIR=./uploads
MULTER_MAX_FILE_SIZE=5242880
