node_modules
npm-debug.log
dist
build
.env
.env.local
.env.*.local
.git
.gitignore
.DS_Store
*.md
LICENSE
.vscode
.idea
uploads
tests
jest.config.js
.http
.git
.github
coverage
.dockerignore
Dockerfile
docker-compose*.yml
